html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

.page {
  height: 100vh;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 960px;
  align-items: center;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  width: 960px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px;
}

.navigation {
  display: flex;
  height: 7vh;
  width: 100%;
  background-color: #4e4e4e;
}

.logo {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.list {
  list-style-type: none;
}
.menu > .list > .list_menu {
  display: inline-block;
  padding: 15px 15px;
}

.menu_1 {
  color: #f1f1f1;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.menu_2 {
  cursor: not-allowed;
  color: #f1f1f1;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.landing_page {
  width: 100%;
  height: 93vh;
  background-size: cover;
  background-image: url("/assets/d869216e199c4faf8b78918e652e7719.jpg");
}
.shadow {
  width: 100%;
  height: 93vh;
  background-color: rgba(0, 0, 0, 0.15);
}
.home {
  padding-top: 150px;
}
.home_header {
  width: 70%;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 40px;
}
.home_content {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 40px;
}
.btn {
  color: #fff;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border: 3px solid #fff;
  background: rgba(196, 196, 196, 0);
  animation-duration: 1s;
  animation-timing-function: linear;
  transition: 1s;
}

.btn:hover {
  color: #000;
  background-color: #fff;
}
.about {
  width: 100%;
  background-color: #f1f1f1;
}

.about_header {
  color: #152d41;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 70px;
}

.about_content_storage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about_content_box:nth-of-type(odd) {
  display: flex;
  padding-bottom: 70px;
}
.about_content_box:nth-of-type(even) {
  display: flex;

  flex-direction: row-reverse;
}
.about_content_img {
  display: flex;
  flex-direction: column;
  width: 197px;
  height: 197px;
  border-radius: 197px;
  background-size: cover;
}

.about_content_box:nth-of-type(odd) .about_content_img {
  background-image: url("/assets/happy-gba2af3e07_640.jpg");
}

.about_content_box:nth-of-type(even) .about_content_img {
  background-image: url("/assets/woman-g24ee57851_640.jpg");
}

.about_content_box_text {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  padding-left: 20px;
}
.about_content_box:nth-of-type(even) .about_content_box_text {
  padding-right: 20px;
  text-align: right;
}

.about_content_box:nth-of-type(odd) .about_content_box_text {
  padding-left: 20px;
}

.about_content_header {
  font-weight: bold;
  margin-bottom: 20px;
}
.offer {
  width: 100%;
  background-color: #405d78;
}
.offer_header {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 70px;
}

.main_services {
  display: flex;
  justify-content: center;
  width: 960px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.services {
  display: grid;
  grid: 193.776px / auto auto auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 63px;
}
.dot {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background-color: #e07a64;
}

.services_box:nth-of-type(1) {
  position: relative;
}

.services > .services_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 198px;
  height: 193.776px;
  background-color: #f1f1f1;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  transition: 0.5s;
}

.services_box:hover {
  transform: scale(1.05);
}

.services_box_new {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.footer {
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4e4e4e;
}

.info {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.social > .list > .list_social {
  display: inline;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}
